{% assign clock = meetup.date | date: "%s" %}
{{ clock | date: "%A, %B %-d" }}

<section class="Homepage--section">
  <header class="Homepage--header">
    <h1>{{ meetup.title }}</h1>
    <p>
      {% if meetup.location %}
        {% if meetup.location_url %}
        <a href="{{ meetup.location_url }}">
          {{ meetup.location }}
        </a>
        {% endif %}
        {% unless meetup.location_url %}
          {{ meetup.location }}
        {% endunless %}
      {% endif %}
      <br/>
      {{ meetup.location_address }}
    </p>
  </header>
  {% if meetup.content %}
  <div class="Meetup--description">
    {{ meetup.content }}
  </div>
  {% endif %}
</section>

<section class="Homepage--section">
  <ul class="Meetup--schedule">
    <h2>Schedule</h2>

    {% for segment in meetup.schedule %}
      {% if segment.offset %}
        {% assign offset = segment.offset | times: 60 %}
        {% assign clock = clock | plus: offset %}
      {% endif %}
      {% unless segment.offset %}
        {% assign offset = 0 %}
      {% endunless %}
      <li class="Meetup--segment">
        <header class="Meetup--segmentHeader">
          <time class="Meetup--segmentTime" datetime="{{ meetup.date | date: "%F" }}">
            {{ clock | date: "%-I:%M %p" }}
          </time>
          <span class="Meetup--segmentType">
            {{ segment.type }}
          </span>
        </header>
        <section class="Meetup--segmentInfo">
          {% assign speaker_links = site.array %}
          {% for speaker in segment.speakers %}
            {% capture speaker_link %}{% if speaker.url %}<a href="{{ speaker.url }}">{% endif %}{{ speaker.name }}{% if speaker.url %}</a>{% endif %}{% endcapture %}
            {% assign speaker_links = speaker_links | push: speaker_link %}
          {% endfor %}
          {% assign sponsor_links = site.array %}
          {% for sponsor in segment.sponsors %}
            {% capture sponsor_link %}{% if sponsor.url %}<a href="{{ sponsor.url }}">{% endif %}{{ sponsor.name }}{% if sponsor.url %}</a>{% endif %}{% endcapture %}
            {% assign sponsor_links = sponsor_links | push: sponsor_link %}
          {% endfor %}

          {% if speaker_links.size > 0 %}
            <div class="Meetup--segmentSpeaker">
              {{ speaker_links | array_to_sentence_string }}
            </div>
          {% endif %}
          <em class="Meetup--segmentTitle {% if speaker_links.size == 0 %}Meetup--segmentTitle-isAnonymous{% endif %}">
            {{ segment.title }}
          </em>
          {% if segment.description %}
            <div class="Meetup--segmentDescription">
              {{ segment.description | markdownify }}
            </div>
          {% endif %}
          {% if sponsor_links.size > 0 %}
            <div class="Meetup--segmentSponsor">
              Sponsored by {{ sponsor_links | array_to_sentence_string }}
            </div>
          {% endif %}
        </section>
      </li>
      {% assign duration = segment.duration | times: 60 %}
      {% assign clock = clock | plus: duration %}
    {% endfor %}
  </ul>
</section>
