{% if meetup.previous %}
<section class="Homepage--section">
  <div class="Meetup--lastTime">
    <p>
      <a href="{{ meetup.previous.url }}">
        &larr;
        {% if meetup.previous.title %}
          {{ meetup.previous.title }},
        {% endif %}
        {{ meetup.previous.date | date: "%A, %B %-d" }}
      </a>
      {% if meetup.previous.location %}
      at
        {% if meetup.previous.location_url %}
        <a href="{{ meetup.previous.location_url }}">
          {{ meetup.previous.location }}
        </a>
        {% endif %}
        {% unless meetup.previous.location_url %}
          {{ meetup.previous.location }}
        {% endunless %}
      {% endif %}
    </p>
  </div>
</section>
{% endif %}
