body {
  position: relative;
}

.VerticalRhythmGrid {
  background-image: linear-gradient(
    to bottom,
    var(--verticalRhythmGridColor) 1px,
    transparent 1px
  );
  background-size: auto var(--spacingUnit);
  bottom: 0;
  left: 0;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 16777271;
}
