@import '../../utils/typography.css';

.SocialMediaLinks {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.SocialMediaLink {
  @extend .gel--brevier;
  text-align: center;
}

.SocialMediaLink-Img {
  height: 1rem;
  margin-right: 0.5ch;
  vertical-align: text-bottom;
}
