{% if event %}
  {% assign context = event %}
{% endif %}
{% unless context %}
  {% assign context = page %}
{% endunless %}
<aside event="program">
  <div event="logo">{% if context.logo %}
    <img src="{{ context.logo }}" width="100"/>
  {% elsif context.tags contains 'BeerJS' %}
    <img src="/images/beerjs.svg" width="100"/>
  {% endif %}</div>
  <dl horizontal>
    <dt class="icon-calendar"></dt>
    <dd>
      {{ context.date | date: "%a, %b %-d" }}
      at
      {{ context.date | date: "%-I:%M%P" }}
    </dd>

    <dt class="icon-location"></dt>
    <dd>
      <a href="{{ context.location_url }}" rel="external" target="_blank">
        {{ context.location }}
      </a>
    </dd>

    {% if context.github_issue_url %}
    <dt class="icon-github-circled"></dt>
    <dd>
      <a href="{{ context.github_issue_url }}" rel="external" target="_blank">
        Questions? Comments?
      </a>
    </dd>
    {% endif %}

    {% if context.meetup_id %}
    <dt class="icon-meetup"></dt>
    <dd>
      <span meetup-id="{{ context.meetup_id }}"></span>
      <a href="http://www.meetup.com/{{context.meetup_group_name || site.meetup_group_name }}/events/{{ context.meetup_id }}/" rel="external" target="_blank">
        RSVP today!
      </a>
    </dd>
    {% endif %}
  </dl>
</aside>