<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="author" href="humans.txt" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="//fonts.googleapis.com/css?family=Cutive|Karma" rel="stylesheet" type="text/css">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }} - {{site.description }} {% endif %}</title>
  <meta name="description" content="{{ site.title }} {{ site.description }}">
</head>
