{% assign subject_date = meetup.date %}
{% assign clock = subject_date | date: "%s" %}
{% assign schedule = meetup.schedule %}

<div class="Homepage">
  <div class="flex flex--column flex--alignItems-center LeftPane">
    <a href="{{ site.baseurl }}/" class="flex--grow-2 LeftPane--logo">
      <img src="/images/sac_js.svg" width="150" height="150" alt="{{ site.description }}"/>
    </a>
    <section class="flex--grow-2 LeftPane--details">
      <p>
        Javascript, web technologies, and community building on the fourth
        Tuesday of every month at
        <a href="http://www.theurbanhive.com/" class="LeftPane--link">The Urban Hive</a>.
      </p>
    </section>
    <section class="flex--grow-3">
      {% if meetup.meetup_id %}
      <div class="RsvpButton" meetup-id="{{ meetup.meetup_id }}">
        <a href="http://www.meetup.com/{{ meetup.meetup_group_name || site.meetup_group_name }}/events/{{ meetup.meetup_id }}" class="RsvpButton--link">
          <span class="RsvpButton--promo"></span>
          RSVP Today
        </a>
      </div>
      <div class="LeftPane--thanks" meetup-id="{{ meetup.meetup_id }}">
        Thanks for coming!
      </div>
      {% endif %}
      {% if meetup.tito_event %}
      <div class="RsvpButton" tito-event-id="{{ meetup.tito_event }}">
        <a href="https://ti.to/{{ meetup.tito_event }}" class="RsvpButton--link">
          <span class="RsvpButton--promo"></span>
          Purchase Tickets
        </a>
      </div>
      {% endif %}
      {% if !meetup.meetup_id and !meetup.tito_event %}
        <div class="LeftPane--tba">
          Stay Tuned for more Info!
        </div>
      {% endif %}
    </section>
    <footer class="LeftPane--footer">
      <div class="LeftPane--cocAlert">
        {% include coc_alert.html %}
      </div>
    </footer>
  </div>
  <div class="flex flex--column flex--alignItems-center RightPane">
    <article class="RightPane--content">
      {% include meetup/details.html %}
      {% include meetup/sponsors.html %}
      {% include meetup/up_next.html %}
      {% include meetup/what_else.html %}
      {% include meetup/last_time.html %}
    </article>
  </div>
</div>
