html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
  &[unstyled] {
    list-style-type: none;
    margin-left: 0;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

dl {
  dt {
    margin-top: 1rem;
  }
  dd {
    margin-left: 2rem;
  }
  &[horizontal] {
    dt {
      float: left;
      margin-top: 0;
    }
    dd {
      margin-left: 2rem;
    }
  }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: Cutive, Times Roman, serif;
}

[subhead] {
  margin: $spacing-unit 0;
  font-family: Cutive, Times Roman, serif;
  font-size: .9rem;
  font-weight: 400;
  color: $brand-color;
  text-transform: uppercase;
}

/**
 * Bifurcated text
 */
[bifurcate] {
  > :first-child {
    display: block;
    font-size: .7em;
  }
  > :last-child {
    display: block;
    font-size: 1.1em;
    text-transform: uppercase;
  }
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

%link-button {
  display: inline-block;
  padding: .475rem 1rem .375rem;
  line-height: 1.625rem;
  text-align: center;
}

[readmore] {
  @extend %link-button;
  outline: solid 1px $primary-brand-color;
  &,
  &:visited {
    color: $primary-brand-color;
  }
  &:hover {
    text-decoration: none;
    color: $tertiary-brand-color;
    background-color: $primary-brand-color;
  }
}

[readmore~='inverted'] {
  outline: solid 1px $tertiary-brand-color;
  &,
  &:visited {
    color: $tertiary-brand-color;
  }
  &:hover {
    color: $primary-brand-color;
    background-color: $tertiary-brand-color;
  }
}

/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: .9rem;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/**
 * Icons
 */
.icon {
  > svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
