[event=''] {
  margin-bottom: 1rem;
  color: $featured-text-color;
  [flex] {
    align-items: flex-start;
  }
  a {
    color: $featured-link-color;
    &:hover,
    &:active {
      color: $featured-link-hover-color;
    }
    &:visited {
      color: $featured-link-visited-color;
    }
  }
}

[event~='content'] {
  flex: 2;
}

[event~='program'] {
  [event] & {
    flex: 1.075;
  }
  [post~='header'] & {
    float: right;
  }
  margin-left: 2rem;
}

[event~='logo'] {
  @extend %vertical-rhythm;
  margin-right: 2rem;
  text-align: center;
  &:empty {
    display: none;
  }
}

[meetup-id] {
  &:not(:empty) {
    &::after {
      content: ',';
    }
  }
}