.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 0;
  min-height: 0;
}

.flex--shrink-0 {
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex--grow-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

.flex--grow-2 {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

.flex--grow-3 {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

.flex--column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex--justify-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex--justify-end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex--alignItems-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex--alignItems-flexEnd {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.flex--alignSelf-flexEnd {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: flex-end;
  align-self: flex-end;
}

.flex--alignSelf-flexStart {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
}

.flex--alignSelf-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.flex--flexFlow-rowWrap {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
