.RsvpButton {
  display: none;
  text-align: center;
  &.is-visible {
    display: block;
  }
}

.RsvpButton--link {
  display: inline-block;
  padding-top: $spacing-unit / 2;
  padding-right: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit;
  border: solid 3px white;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  &,
  &:hover,
  &:visited {
    color: white;
  }
}

.RsvpButton--promo {
  display: block;
  font-size: 1rem;
  color: rgba(white, 0.5);
}
