%caption {
  font-size: .6rem;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}

[site~='header'] {
  [flex] {
    -webkit-align-items: center;
    align-items: center;
    min-height: $header-height;
  }
}

[site~='title'] {
  display: block;
  -webkit-flex: 1;
  flex: 1;
  font-family: Cutive;
  [site='logo'] {
    margin-right: .75rem;
  }
}

[site='nav'] {
  [icon~='menu'] {
    display: none;
  }

  a {
    color: $text-color;
    @extend %link-button;
    text-decoration: none;

    &:hover {
      background: rgba(lighten($secondary-brand-color, .75), .75);
    }

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: .5625rem;
    right: 2rem;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    [icon~='menu'] {
      display: block;
      float: right;
      width: 2.25rem;
      height: 2.25rem;
      line-height: 0;
      padding: 10px 0;
      text-align: center;

      > svg {
        width: 1.125rem;
        height: .9375rem;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover {
      .trigger {
        display: block;
        padding-bottom: 5px;
      }
    }

    a {
      display: block;
      padding: 5px 10px;
    }
  }
}

[site~='content'] {
  &,
  > [flex] {
    min-height: $header-height * 3;
  }
}

[site~='hero'] {
  margin-top: $header-height * -1;
  background: $hero-background-color url(/images/bear_yellow.png) center bottom no-repeat;
  background-size: cover;
  background-position: 50% 25%;
  [main] {
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    font-family: Cutive;
    font-size: 4rem;
  }
  & > [flex] {
    min-height: $header-height * 6;
    align-items: center;
  }
}

[site='content primary'] {
  background: $content-primary-color;
  footer {
    margin-top: 1rem;
    margin-bottom: 2rem;
    @extend %caption;
  }
}

[site~='content'] {
  &[site~='secondary'] {
    background: $content-secondary-color;
    &:empty {
      min-height: $header-height - 2;
    }
    [subhead] {
      color: $secondary-brand-color;
    }
  }
}

[site='footer'] {
  margin-top: 2rem;
  nav {
    -webkit-flex: 4;
    flex: 4;
  }
  aside {
    -webkit-flex: 1;
    flex: 1;
  }
  @include media-query($on-palm) {
    [flex] {
      display: block;
    }
  }
  p {
    @extend %caption;
  }
  a {
    color: $link-color;
    text-decoration: none;
    a:hover,
    a:active {
      text-decoration: underline;
    }
    a:visited {
      color: inherit;
    }
  }
}
