.Event {
}

.Event-Details {
  padding-left: var(--spacingUnit);
  padding-right: var(--spacingUnit);
}

.Event-Section {
  padding-top: calc(var(--spacingUnit) * 1);
}

@media (--phone) {
  .Event {
    display: flex;
    --sidebarWidth: 40vw;
  }

  .Event-Details {
    margin-left: var(--sidebarWidth);
    max-width: calc(var(--spacingUnit) * 42);
    padding-left: calc(var(--spacingUnit) * 2);
    padding-right: calc(var(--spacingUnit) * 2);
    width: 100%;
  }

  .Event-Section {
    padding-top: calc(var(--spacingUnit) * 2);
  }
}
