@import '../../utils/typography.css';

.Event-LastTime {
  @extend .gel--brevier;
  border-top: solid 1px var(--tertiaryColorLighter);
  margin-bottom: var(--spacingUnit);
  margin-top: calc(var(--spacingUnit) * 2);
  padding-top: var(--spacingUnit);
}

@media (--phone) {
  .Event-LastTime {
    margin-bottom: calc(var(--spacingUnit) * 5);
  }
}
