@import '../../utils/typography.css';

.Event-TitleHeader {
  @extend .gel--canon;
  margin-top: var(--spacingUnit);
}

.Event-TitleLink {
  text-decoration: none;
  &,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: var(--textColor);
  }
}

.Event-TitleLocation {
  margin-top: var(--spacingUnit);
}
