.Event-Title {
  margin-top: calc(var(--spacingUnit) * 2);
}

.Event-TitleHeader {
  margin-top: var(--spacingUnit);
}

.Event-TitleLink {
  text-decoration: none;
  &,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: var(--textColor);
  }
}

.Event-TitleLocation {
  margin-top: var(--spacingUnit);
}
