@import '../../utils/typography.css';

.RsvpButton {
  text-align: center;
}

.RsvpButton-Link {
  display: block;
  font-weight: bold;
  padding-bottom: var(--spacingUnit);
  padding-top: var(--spacingUnit);
  padding-right: calc(var(--spacingUnit) * 2);
  padding-left: calc(var(--spacingUnit) * 2);
  outline: solid 3px var(--linkColor);
  text-decoration: none;
  text-transform: uppercase;
}

.RsvpButton-LinkPromo {
  color: var(--textColorSubdued);
  text-align: center;
}

.RsvpButton-LinkPromoText {
  @extend .gel--doublePica;
}

.RsvpButton-Thanks {
  background: var(--primaryColorLight);
  padding: calc(var(--spacingUnit));
}
