<section class="Homepage--section WhatElse">
  <header class="Homepage--header">
    <h2>What else?</h2>
  </header>
  <p>
    Want to speak at a future meetup? We accept 15, 30, and 45-minute talks on a
    wide variety of topics. <a href="/speaking">Let us know what you'd like to
    talk about.</a>
  </p>
  <p>
    Find us on
    <a href="https://twitter.com/{{ site.networks.twitter.username }}">Twitter</a>,
    <a href="https://sac-tech.herokuapp.com">Slack</a>,
    and help us
    <a href="https://github.com/{{ site.networks.github.username }}/{{ site.networks.github.username }}.github.io/issues">plan future meetups</a>
    on
    <a href="https://github.com/{{ site.networks.github.username }}">GitHub</a>
  </p>
</section>
