<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="{{ page.url | absolute_url }}"/>
<meta property="og:image" content="{{ site.logo.url | absolute_url }}"/>
<meta property="og:image:width" content="{{ site.logo.width }}"/>
<meta property="og:image:height" content="{{ site.logo.height }}"/>

<meta name="twitter:site" content="@{{ site.networks.twitter.username }}"/>
<meta name="twitter:creator" content="@{{ site.networks.twitter.username }}"/>
<meta name="twitter:image" content="{{ site.logo.url | absolute_url }}"/>
<meta name="twitter:image:height" content="{{ site.logo.height }}"/>
<meta name="twitter:image:width" content="{{ site.logo.width }}"/>
<meta name="twitter:image:alt" content="Logo for the {{ site.description }}"/>
